[workspace]
authors = ["Shlok Natarajan <shlok.natarajan@gmail.com>"]
channels = ["conda-forge"]
name = "cs224w-project"
platforms = ["osx-arm64", "linux-64"]
version = "0.1.0"

[dependencies]
pytorch = "2.4.*"
torchvision = "0.19.*"
torchaudio = "2.4.*"
ogb = ">=1.3.6,<2"
ipykernel = ">=7.1.0,<8"

[pypi-dependencies]
torch-geometric = ">=2.7.0, <3"
