[workspace]
authors = ["Shlok Natarajan <shlok.natarajan@gmail.com>"]
channels = ["pytorch", "nvidia", "conda-forge"]
name = "cs224w-project"
platforms = ["linux-64", "osx-arm64"]
version = "0.1.0"

[dependencies]
pytorch = ">=2.0,<3"
ogb = ">=1.3.6,<2"
ipykernel = ">=7.1.0,<8"

# Linux-specific dependencies (CUDA support)
[target.linux-64.dependencies]
pytorch-cuda = "12.1.*"
torchvision = "0.19.*"
torchaudio = "2.4.*"

# macOS-specific dependencies (CPU/MPS support)
[target.osx-arm64.dependencies]
torchvision = ">=0.15,<1"
torchaudio = ">=2.0,<3"

[pypi-dependencies]
torch-geometric = ">=2.7.0, <3"

[tasks]
baselines = "python train_baselines.py"